@font-face {
    font-family: Nunito;
    src: url(assets/nunito/Nunito-ExtraLight.ttf);
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: Nunito;
    src: url(assets/nunito/Nunito-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #272727;
    color: #f0f0f0;
    font-family: 'Nunito', sans-serif;
}

nav {
    display: flex;
    background-color: #333;
    height: 50px;
    /* padding: 10px; */
    user-select: none;
}

#topBar {
    position: absolute;
    /* display: none; */
    width: 100%;
    height: 50px;
    background-color: #333;
    z-index: 1;
}

.logo {
    padding: 10px;
    display: flex;
    z-index: 1;
}

.logo img {
    margin-top: 5px;
    max-height: 80%;
}

.logo h1 {
    display: flex;
    margin-top: 4px;
    margin-left: 10px;
}

#buttons {
    padding: auto;
    margin-left: auto;
    display: flex;
    list-style-type: none;
    z-index: 2;
}

#buttons a {
    color: #f0f0f0;
    text-decoration: none;
}

#buttons li {
    margin: 0 15px;
}

#hamburger {
    display: none;
    font-size: 24px;
    color: #f0f0f0;
    cursor: pointer;
    margin: auto 10px auto auto;
    padding: 10px;
    z-index: 1;
}

section {
    margin: auto 200px;
    padding: auto;
    margin-top: 3%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
    text-align: center;
    user-select: none;
}

@media (max-width: 768px) {
    #buttons {
        text-align: center;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        background-color: #333;
        transform: translateY(-100%);
        transition: top 0.5s;
        z-index: 0;
    }

    #buttons li {
        padding: 10px;
    }

    #hamburger {
        display: block;
    }

    section {
        padding: 0 50px;
        margin: 10px;
        margin-top: 5%;
    }
}

#buttons.active {
    top: 237px;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
}

.whatsapp img {
    width: 100%;
    height: 100%;
}

#map {
    display: flex;
    height: 70%;
    width: 90%;
}